.root-toast {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  background: rgb(var(--lsd-surface-primary));
  border: 1px solid rgb(var(--lsd-border-primary));
  padding: 8px;
  height: fit-content;
}

.inlineButtonContainer {
  flex-shrink: 0;
}

.columnButtonContainer {
  margin-top: 18px;
  margin-bottom: 6px;
}

.inlineContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textContainer {
  display: flex;
  flex-direction: column;
  color: rgb(var(--lsd-text-secondary));
  padding-left: 12px;
}

.title {
  position: relative;
}

.information {
  margin-top: 4px;
}

.buttonContainer {
  min-height: 28px;
  min-width: 60px;
  width: fit-content;
  padding: 0px 12px;
}

.closeButton {
  margin-bottom: auto;
  flex-shrink: 0;
  height: 28px;
  width: 28px;
  margin-left: auto;
}

.columnIconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
  position: relative;
  top: 4px;
  padding-left: 4px;
}

.inlineIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
}

.icon {
  position: relative;
}

.large {
  width: 364px;
}

.medium {
  width: 336px;
}

.small {
  width: 296px;
}

.small .icon {
  top: 0px;
}
