.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  > .cardHeader {
    margin-bottom: -1px;
  }
}

.cardBody {
  box-sizing: border-box;
  padding: 14px 22px;
  border: 1px solid rgb(var(--lsd-border-primary));
}

.cardHeader {
  box-sizing: border-box;
  padding: 10px 18px;
  text-align: center;
  border: 1px solid rgb(var(--lsd-border-primary));

  &.large {
    padding: 10px 18px;
  }

  &.medium {
    padding: 6px 14px;
  }

  &.small {
    padding: 6px 12px;
  }

  .title {
    overflow: hidden;
    word-break: break-all;
  }
}
