.root-tabs {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: fit-content;
  max-width: 100%;
  border-bottom: 1px solid rgb(var(--lsd-border-primary));
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    flex-shrink: 0;
  }
}

.fullWidth {
  width: 100%;
  justify-content: stretch;
}

.fullWidth > * {
  width: 100%;
  flex: 1 0;
}

.leftScrollControl {
  left: 0;
}

.rightScrollControl {
  right: 0;
}

.rightScrollControl,
.leftScrollControl {
  top: 0;
  flex: 0 1;
  position: sticky;
}

.tabItem {
  background: rgb(var(--lsd-surface-primary));
  border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &:hover {
    text-decoration: underline;
  }

  &:not(.selected) {
    border-bottom: 1px solid rgb(var(--lsd-border-primary));
  }
}

.root-tabs .tabItem {
  border-bottom: none;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icon {
  margin-left: 14px;
}

.selected {
  border: 1px solid rgb(var(--lsd-border-primary));
}

.selected:hover {
  text-decoration: none;
}

.withIcon {
  justify-content: space-between;
}

.disabled {
  cursor: default;
  opacity: 0.34;
}

.disabled:hover {
  text-decoration: none;
}

.small {
  padding: 6px 12px;
}

.small .icon {
  margin-left: 10px;
}

.medium {
  padding: 6px 14px;
}

.medium .icon {
  margin-left: 12px;
}

.large {
  padding: 10px 18px;
}

.large .icon {
  margin-left: 14px;
}
