.root {
  border: 1px solid rgb(var(--lsd-border-primary));
}

.root:has(> label) {
  width: 40px;
}

.root:has(> label) input {
  position: relative;
  width: 14px;
  height: 14px;
  margin: auto;
}

.root:has(> label) span {
  margin-left: 14px !important;
}

.large {
  padding: 10px;
}

.medium {
  padding: 6px 8px;
}

.small {
  padding: 6px;
}
