.root-quote {
  color: rgb(var(--lsd-text-primary));
  white-space: pre-wrap;
}

.indentedInline {
  border-left: 1px solid rgb(var(--lsd-border-primary));
  padding: 4px 8px 4px 28px;
}

.parentheses {
  padding: 0px;
  text-align: center;
}

.parentheses::before {
  content: '***';
}

.parentheses::after {
  content: '***';
}
