.root-dateField {
  width: auto;
  box-sizing: border-box;
}

.label {
  display: block;
}

.icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgb(var(--lsd-surface-primary));
}

.icon:focus {
  background: blue;
  background-color: pink;
  border: 1px solid rgb(var(--lsd-border-primary));
}

.noIcon {
  position: absolute;
  right: 0;
  background-color: rgb(var(--lsd-surface-primary));
  padding: 12px;
}

.outlined {
  border: 1px solid rgb(var(--lsd-border-primary));
}

.underlined {
  border-bottom: 1px solid rgb(var(--lsd-border-primary));
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.disabled {
  opacity: 0.34;
}

.input {
  border: none;
  outline: none;
  font-size: 14px;
  color: rgb(var(--lsd-text-primary));
  background: none;
  width: 100%;
  opacity: 0.4;
  transition: opacity 0.2s ease-in-out;
}

.input::-webkit-inner-spin-button,
.input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.input:hover {
  outline: none;
}

.supportingText {
  position: absolute;
}

.large {
  width: 208px;
}

.large .label {
  margin: 0 0 6px 18px;
}

.large .inputContainer {
  height: 40px;
}

.large .input {
  padding: 9px 0px 9px 17px;
}

.large .icon {
  padding: 12px 13px;
}

.large .supportingText {
  margin: 6px 18px 0 18px;
}

.medium {
  width: 188px;
}

.medium .label {
  margin: 0 0 6px 14px;
}

.medium .inputContainer {
  height: 32px;
}

.medium .input {
  padding: 5px 11px 5px 13px;
}

.medium .icon {
  padding: 8px 11px;
}

.medium .supportingText {
  margin: 6px 14px 0 14px;
}

.small {
  width: 164px;
}

.small .label {
  margin: 0 0 6px 12px;
}

.small .inputContainer {
  height: 28px;
}

.small .input {
  padding: 5px 9px 5px 11px;
  font-size: 12px;
}

.small .icon {
  padding: 6px 9px;
}

.small .supportingText {
  margin: 6px 12px 0 12px;
}

.input:invalid,
.inputFilled {
  color: rgb(var(--lsd-border-primary));
  opacity: 1;
}

.error .input::-webkit-datetime-edit-year-field,
.error .input::-webkit-datetime-edit-month-field,
.error .input::-webkit-datetime-edit-day-field {
  text-decoration: line-through;
}

@supports not selector(::-webkit-datetime-edit-day-field) {
  .error .input {
    text-decoration: line-through;
  }
}
